<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="https://favi.bjornmagne.com/bmklogo3/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://favi.bjornmagne.com/emp2l/bmklogo3-32x32.png" sizes="32x32">
    <link rel="icon" type="image/x-icon" href="https://favi.bjornmagne.com/emp2l/bmklogo3.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>📌 EMPTrip</title>

    <style>
        .main-teal {
            background-color: #008080;
            transition: background-color 0.3s ease-in-out;
        }
        .hover-teal:hover {
            background-color: #006666;
        }
    </style>
</head>
<body class="bg-gray-100">
    <!-- Hamburger Menu Button with Visible Styling for Testing -->
    <div class="md:hidden fixed top-0 right-0 p-4 z-50 bg-red-500">
        <button id="menuButton" class="text-white focus:outline-none">
            <svg class="h-8 w-8" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
        </button>
    </div>



    <div class="flex flex-col md:flex-row h-screen">
        <!-- Sidebar Navigation -->
        <div id="menu" class="md:h-screen main-teal text-white w-full md:w-1/4 md:max-w-xs py-2 md:pt-8 md:pb-2 flex flex-col items-center justify-start border-r border-gray-300 hidden md:flex">
            <div class="border-b border-gray-300 w-full text-center pb-4 text-2xl">
                <h1>📌 Trip Trak</h1>
            </div>
            <div class="pt-4 w-full text-center">
                <ul class="flex md:flex-col justify-around px-2 md:px-0 pb-2 md:pb-0">
                    <a href="{% url 'trips-list' %}" class="w-full">
                        <li class="py-2 px-3 md:px-0 hover-teal hover:cursor-pointer transition duration-300 ease-in-out">My Trips</li>
                    </a>
                    <a href="{% url 'trip-create' %}" class="w-full">
                        <li class="py-2 px-3 md:px-0 hover-teal hover:cursor-pointer transition duration-300 ease-in-out">New Trip +</li>
                    </a>
                    <a href="{% url 'note-list' %}" class="w-full">
                        <li class="py-2 px-3 md:px-0 hover-teal hover:cursor-pointer transition duration-300 ease-in-out">My Notes</li>
                    </a>
                    <a href="{% url 'note-create' %}" class="w-full">
                        <li class="py-2 px-3 md:px-0 hover-teal hover:cursor-pointer transition duration-300 ease-in-out">New Note +</li>
                    </a>
                </ul>
            </div>
            <div class="mt-auto w-full text-center flex md:flex-col justify-evenly py-2 md:pt-0">
                <p>{{user.username}}</p>
                <hr class="my-2 border-gray-300">
                <a class="underline text-white hover:text-gray-200 transition duration-300 ease-in-out" href="{% url 'logout' %}">
                    Logout
                </a>
            </div>
        </div>

        <!-- Main Content -->
        <div class="w-full md:w-3/4 p-10 overflow-auto">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

    <script>
        document.getElementById('menuButton').addEventListener('click', function() {
            document.getElementById('menu').classList.toggle('hidden');
        });
    </script>
</body>
</html>
