{% extends 'trips/_base.html' %}

{% block content %}
<div class="container mx-auto py-8">
    <h1 class="text-4xl underline mb-8">Note Details</h1>
    <div class="flex space-x-4 mb-4">
        <a href="{% url 'note-update' note.pk %}" class="px-4 py-2 bg-teal-300 rounded hover:bg-teal-400 text-white transition duration-300 ease-in-out transform hover:scale-105">Edit</a>
        <form class="inline" action="{% url 'note-delete' note.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="px-4 py-2 bg-red-300 rounded hover:bg-red-400 text-white cursor-pointer transition duration-300 ease-in-out transform hover:scale-105" value="Delete" />
        </form>
    </div>
    <div class="bg-gray-100 p-8 rounded shadow my-4 transition duration-300 ease-in-out transform hover:scale-105 hover:shadow-md">
        <p class="text-2xl font-semibold">{{ note.name }}</p>
        <p class="text-lg text-gray-700">Description: {{ note.note }}</p>
        <p class="text-lg text-gray-700">Type: {{ note.type|title }}</p>
        <p class="text-lg text-gray-700">Rating: {{ note.rating }}/5</p>
        {% if note.img %}
            <img src="{{ note.img.url }}" alt="{{ note.name }}" class="mt-4">
        {% endif %}
    </div>
</div>
{% endblock content %}
